
# Force download of files
<FilesMatch "\.(doc|docx|xls|csv|txt|pdf|mp3|mp4|3gp)$">
 ForceType application/octet-stream
 Header set Content-Disposition attachment
</FilesMatch>

RewriteEngine on

ErrorDocument 404 /404.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^([^/]+)/?$ $1.php [NC,L]

RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/?$ $1.php?$2=$3 [NC,L]

RewriteRule ^article/([0-9]+)/([^/]+)/?$ article.php?id=$1 [NC,L]

RewriteRule ^course/([0-9]+)/([^/]+)/?$ course.php?id=$1 [NC,L]

#RewriteCond %{HTTP_HOST} !^www\.

#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]




